@charset "UTF-8";

html { 
  font-family: 'Oswald', sans-serif;
  background:#323232;
  /*
  background:#55778a url(../assets/bg.jpg) no-repeat center fixed;
  background-size: 100% auto;
  */
}
body {
  font-size: 16px;
  line-height: 18px;
}
a {
  color: #919191;
  text-decoration: none;
}
a:hover,
.active a {
  color: #7F7F7F;
  text-decoration: none;
}
p {
display: block;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
}
td {
  padding: none;
}
img {
  border: 0;
}
input, textarea {
  font-family: 'Oswald', sans-serif;
  background-color: #9f9f9f;
  border: 2px solid #1C272D;
  color: #323232;
  padding: 3px;
  font-size: 14px;
}
#wrapper {
  width: 100%;
}
#main {
  color: #9E9E9E;
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}
#logo {
  float: left;
}
#dragit_note {
  width: 700px;
  height: 21px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  margin-bottom: 10px;
}
.table {
  background:url(../assets/file_bg.png) repeat;
  font-size: 19x;
  margin-right: auto;
  margin-left: auto;
}
.row {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.span7 {
  width: 325px;
  float: right;
  padding-right: 10px;
  font-size: 14px;
  color: #919191;
  margin-top: 55px;
}
td.delete {
  white-space: nowrap;
  border-bottom: 1px solid #486576;
}

@media (max-width: 979px) {
  body {
    width: auto;
    padding: 10px;
  }
}
.template-download {
  border-top: 2px solid #000;
}
.image_urls {
  padding-left: 5px; 
  font-size: 14px;
  border-bottom: 1px solid #444;
  color: #D8D8D8;
  padding-top: 2px;
  padding-bottom: 2px;
}
#url_shorten {
  width: 470px;
  color: #e49100;
  margin-top: 50px;
  padding-top: 5px;
  font-size: 21px;
  float: left;
}
#preMessage {
  color: #e49100;
  font-size: 36px;
  margin-bottom: 10px;
}
#message {
  color: #e49100;
  font-size: 24px;
  margin-top: 10px;
}
.urlSubmit {
  float: right;
  margin-right: 2px;
  margin-top: 5px;
}
.bottomAd {
  position: relative;
  width: 468px;
  margin-top: 10px;
  float: left;
}
.boxAd {
  position: relative;
  width: 300px;
  margin-top: 5px;
  margin-left: 5px;
  float: right;
}
#footer {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
input.urlfield {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  background-color: #e49100;
}
input.urlfield:focus {
  background-color: #9f9f9f;
}
input.urlbutton {
  font-family: 'Oswald', sans-serif;
  width:85px;
  background:#3d3d3d;
  color:#BCBCBC;
  height:30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #192328;
  font-size: 18px;
}
input.urlbutton:hover {
  background:#272727;
  color:#fff;
}
.ui-button .ui-button-text {
line-height: 1;
font-family: 'Oswald', sans-serif;
}
.name {
  border-bottom: 1px solid #486576;
  width: 200px;
}
.error {
  color: #FF0000;
  border-bottom: 1px solid #486576;
}
.preview {
  border-bottom: 1px solid #444;
  padding-left: 3px;
  padding-top: 3px;
}
.size {
  padding-left: 7px;
  font-size: 13px;
}
.delete {
  font-size: 13px;
}
#linksRow1 {
  width: 595px;
}
#linksRow2 {
  width: 595px;
}
#page {
  width: 650px;
  margin-right: auto;
  margin-left: auto;
}
.info {
  background:url(../assets/file_bg.png) repeat;
  padding: 5px;
  color:#ababab;
  line-height: 22px;
}
.backtomain {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-size: 28px;
}
#siteterms {
  float: right;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
#copyLinkButton {
  border: 1px solid black;
  background-color: #666;
  padding-left: 5px;
  width: 285px;
  float: left;
}
#copyForumButton {
  border: 1px solid black;
  background-color: #666;
  padding-left: 5px;
  width: 285px;
  float: left;
}
#copyHTMLButton {
  border: 1px solid black;
  background-color: #666;
  padding-left: 5px;
  width: 285px;
  float: right
}
#copyForumURLButton {
  border: 1px solid black;
  background-color: #666;
  padding-left: 5px;
  width: 285px;
  float: right;
}
#copyLinkButton:hover, #copyForumButton:hover, #copyHTMLButton:hover, #copyForumURLButton:hover { background-color:#555; }
#copyLinkButton:active, #copyForumButton:active, #copyHTMLButton:active, #copyForumURLButton:active { background-color:#444; }