RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^[a-zA-Z0-9]+\.(jpe?g|png|gif|bmp)$ /server/php/files/$0 [L]

RewriteRule ^([a-zA-Z0-9]+)$ index.php?code=$1

ErrorDocument 404 http://dragit.in/404.php
